<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Scavenger Hunt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>181BC8E61BD0623000F4D738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181BC8FA1BD0623000F4D738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181BC9051BD0623000F4D738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
